/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/out/2018, 12:22:45
    Author     : Iolanda
*/

/*cor de fundo*/

@media (min-width: 576px) {
    .jumbotron {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #454d54;
        color: #f1f2f4;
        font-weight: bold;
    }
}

body {
  background-color: #e3e6e8;
}